body{background-color:#ffffcc;color:#330000;font-family:verdana}
header {background-repeat:no-repeat; background-color:#ccaa66; text-align:center}
h1{background-color:#fffffc;}

nav{text-align:center}
footer{background-color:#ccaa66;color:#000000;font-size:.60em;text-align:center;}
